/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Isso ajuda a evitar o overflow horizontal */
}

/* Navbar fixa */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #FC0037;
}

/* Aplica a fonte Qwitcher Grypen ao <h2> */
h2 {
    font-family: "Qwitcher Grypen", cursive; /* Aplica a fonte personalizada */
    font-size: 150px;
    opacity: 0; /* Inicialmente invisível */
    transform: translateX(100px); /* Deslocado para a direita */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Transição suave */
}
p {
    font-family: "roboto", cursive; /* Aplica a fonte personalizada */
    font-size: 40px;
    opacity: 0; /* Inicialmente invisível */
    transform: translateX(100px); /* Deslocado para a direita */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Transição suave */
}


/* Seções */
.section {
    padding: 0; /* Remover padding para deixar a seção ocupar toda a altura */
    min-height: 100vh; /* Garantir que a seção ocupe toda a altura da viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home {
    background: url('assets/bg.jpg') no-repeat center center;
    background-size: cover; /* Cobrir toda a área da seção */
    color: #EAEAEA;
}

#sobre {
    background: url('assets/4.webp') no-repeat center center;
    background-size: cover; /* Cobrir toda a área da seção */
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
}

#quem-somos {
    background: url('assets/5.webp') no-repeat center center;
    background-size: cover; /* Cobrir toda a área da seção */
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
}

#contato {
    background: linear-gradient(to top, #FC0037, rgba(255, 255, 255, 0.205));
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
}

#proposito {
    background: url('assets/2.webp') no-repeat center center;
    background-size: cover; /* Cobrir toda a área da seção */
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
}

#batismo {
    background: url('assets/1.webp') no-repeat center center;
    background-size: cover; /* Cobrir toda a área da seção */
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
}

#horario {
    background: url('assets/3.webp') no-repeat center center;
    background-size: cover; /* Cobrir toda a área da seção */
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
}

#encontre-nos {
    background: url('assets/6.webp') no-repeat center center/cover;
    position: relative;
    color:rgb(255, 255, 255);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
}

.qwitcher-grypen-regular {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
}

.qwitcher-grypen-bold {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
}


.table-container {
    margin: 20px 0;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}


th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    
}

th {
    background-color: #f2f2f2;
    color: #000000;
}

.instagram-button {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #e13030; /* Cor do Instagram */
    padding: 10px 15px;
    border-radius: 5px;
}

.instagram-button img {
    width: 24px; /* Tamanho do ícone */
    height: 24px;
    margin-right: 8px; /* Espaçamento entre ícone e texto */
}

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}


.youtube-button {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    text-decoration: none;
    color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
}


.whatsapp-button {
    background-color: #25D366; /* Cor do WhatsApp */
}

.youtube-button {
    background-color: #ffffff; /* Cor do YouTube */
}

.whatsapp-button img{
    width: 24px; /* Tamanho do ícone */
    height: 24px;
    margin-right: 8px; /* Espaçamento entre ícone e texto */
}

.youtube-button img {
    width: 24px; /* Tamanho do ícone */
    height: 17;
    margin-right: 8px; /* Espaçamento entre ícone e texto */
}

.maps-iframe {
    width: 100%;
    display: block;
    margin: 20px auto; /* Centraliza o iframe */
    max-width: 100%; /* Responsivo */
    height: 50vh; /* Mantém a proporção */
}

a{
    font-family: 'Roboto', sans-serif;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #EAEAEA;
}
footer p {
    font-size: 20px;
}




/* Efeitos de animação */
@keyframes fadeRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Aplica o fade da direita para a esquerda no <h2> */
h2 {
    opacity: 0;
    /* Inicialmente invisível */
    transform: translateX(100px);
    /* Deslocado para a direita */
    transition: opacity 1s ease-out, transform 1s ease-out;
    /* Transição suave */
}

/* Aplica o fade da esquerda para a direita no <p> */
p {
    opacity: 0;
    /* Inicialmente invisível */
    transform: translateX(-100px);
    /* Deslocado para a esquerda */
    transition: opacity 1s ease-out, transform 1s ease-out;
    /* Transição suave */
}

/* Responsividade */

@media (max-width: 768px) {
    nav{
        background-color: white;
        
        padding-bottom: 5px;
    }
    nav ul{
        display: none;
        
    }

    

    .roboto-font {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }

    .section {
        flex-direction: column; 
        padding: 20px; 
        margin: 10px; 
        border-radius: 10px; 
        background: rgba(255, 255, 255, 0.8); /* Fundo branco sem blur para mobile */
        position: relative; 
        overflow: hidden; 
    }

    h2 {
        font-size: 80px; 
        margin-bottom: 10px; 
    }

    p {
        font-size: 16px; 
        line-height: 1.5; 
    }

    /* Ajuste do iframe */
    iframe {
        width: 100%; 
        height: auto; 
        max-width: 300px; 
        margin: 0 auto; 
    }

    #home{
        display: none;
    }

    #proposito{
        padding-top: 80px;
    }

    /* Efeito de blur nos backgrounds das seções */
     #sobre, #quem-somos, #contato, #proposito, #batismo, #horario, #encontre-nos{
        backdrop-filter: blur(5px); /* Aplicar um blur leve */
        color: #EAEAEA; 
        position: relative; 
        z-index: 1;
    }

    /* Camada de cor para melhor legibilidade do texto */
    #sobre:before, #quem-somos:before, #contato:before, #proposito:before, #batismo:before, #horario:before, #encontre-nos::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); /* Camada escura para contraste */
        z-index: -1; 
    }

     #sobre, #quem-somos, #contato, #proposito, #batismo, #horario, #encontre-nos{
        min-height: auto; 
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        border: none; 
    }

    .bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000000;
        color: #fff;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        z-index: 1000;
    }
    
    .bottom-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .bottom-nav li {
        flex: 1;
        text-align: center;
    }

    .bottom-nav a {
        text-decoration: none;
        color: #fff; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #click-plug-to-support{
       margin-top: -50px !important;
       background-color: red !important;
    }

    footer {
        margin-bottom: 53px;
    }

}
